/* Positioning */
/* Display and BoxModel */
/* Color */
/* Text */
/* Other */

html {
  font-size: 16px;
}

* {
  /* Positioning */
  margin: 0;
  padding: 0;
  /* Display and BoxModel */
  box-sizing: border-box;
  /* Color */
  /* Text */
  text-decoration: none;
  /* Other */
  border: none;
  outline: none;
  transition: 0.2s linear;
}

body {
  font-family: 'Corinthia', cursive;
  font-weight: normal;
  background-color: rgb(51, 56, 88);
  color:rgb(244,244,244);
}

/* header section starts */
.header_wrap {
  text-transform: capitalize;
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 7rem;
  margin-top: -20px;
}

.logo {
  flex-grow: 1;
}

.header__nav__item span {
  margin-left: 0.6rem;
}

a.header__nav__item, .header__icons {
  color:rgb(244,244,244);
  font-size: 1.2rem;
}

a.active {
  color: #c09e74;
  border-bottom: .1rem solid #c09e74;
  padding-bottom: .5rem;
}

.header-bg img {
  margin-bottom: -0.5rem;
  width: 100%;
} /* background header */

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.header__nav {
  flex-grow: 2;
}

.header__icons {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  cursor: pointer;
}

.header__icons > div:hover, a.header__nav__item:hover {
  color: #c09e74;
} 

a.header__nav__item:hover {
  border-bottom: .1rem solid #c09e74;
  padding-bottom: .5rem;
}

.logo img:hover {
  filter:grayscale(0%);
  filter: brightness(180%);
}
/* header section ends */

/* main section starts*/

/* section short about me starts */
.background-short-about-me {
  background-color: rgb(252,252,252);
  height: 21rem;
}

.short-about-me {
  font-family: 'Corinthia', cursive;
  display: flex;
  width: 90%;
  margin: 0 auto;
  color: rgb(51, 56, 88);
  padding-bottom: 1rem;
}

.short-about-me .image img {
  width: 23rem;
  border-radius: 70% 30% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 0 5px 30px 0 rgba(15, 0, 0, 0.6);
}

.short-about-me h2 {
  font-size: 2rem;
}

.short-about-me span {
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content h2 {
  margin-left: 20rem;
}
.content span:nth-of-type(1) {
  margin-left: 5rem;
}
.content span:nth-of-type(3) {
  color: white;
  align-self: flex-end;
}

.content a {
  display: block;
  align-self: flex-start;
  width: 20rem;
  padding:.7rem 2rem;
  color:#fff;
  border:.1rem solid rgba(255,255,255,.3);
  font-size: 1.2rem;
}

.content a:hover {
  background-color: #c09e74;
  letter-spacing: 0.1rem;
}
/* section short about me ends */

/* my products example section starts */
.products-example {
  padding: 3rem 0;
  background-color: rgb(238, 228, 228);;
  margin-top: 15rem;
  color: rgb(51, 56, 88);
  text-align: center;
  font-size: 1.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(15, 100px);
  margin-top: 3rem;
  justify-content: stretch;
  align-items: stretch;
}
.grid-container img {
   width: 100%;
}
.img-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
 /*  grid-area: i1; */
}
.img-2 {
  grid-column: 4 / 8;
  grid-row: 1 / 6;
  /* grid-area: i2; */
}
.img-3 {
  grid-column: 8 / 11;
  grid-row: 1 / 6;
  /* grid-area: i3; */
}
.img-4 {
  grid-column: 11 / 15;
  grid-row: 1 / 6;
  /* grid-area: i4; */
}
.img-5 {
  grid-column: 4 / 9;
  grid-row: 6 / 10;
  /* grid-area: i5; */
}
.img-6 {
  grid-column: 1 / 4;
  grid-row: 5 / 8;
  /* grid-area: i6; */
}
.img-7 {
  grid-column: 1 / 4;
  grid-row: 8 / 12;
  /* grid-area: i7; */
}
.img-8 {
  grid-column: 4 / 9;
  grid-row: 10 / 15;
  /* grid-area: i8; */
}
.img-9 {
  grid-column: 9 / 15;
  grid-row: 6 / 11;
  /* grid-area: i9; */
}
.img-10 {
  grid-column: 9 / 15;
  grid-row: 10 / 16;
  /* grid-area: i10; */
}
/* my products example section ends */

/* footer sections starts */

.footer {
  color: white;
  text-align: center;
}
.footer .share {
  padding: 1rem 0;
}
.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:.1rem solid rgba(255,255,255,.3);
    margin:.3rem;
    border-radius: 50%;
}
.footer .share a:hover {
  background-color: #c09e74;
  font-size: 1.5rem;
}
.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding:.7rem 2rem;
  color:#fff;
  border:.1rem solid rgba(255,255,255,.3);
  font-size: 1.2rem;
}
.footer .links a:hover {
  background: #c09e74;
  letter-spacing: 0.1rem;
}
.footer .credit {
  font-size: 2rem;
  color:#fff;
  font-weight: lighter;
  padding: 1.5rem;
}
.footer .credit span {
  color: #c09e74;
}
/* footer sections ends */

/* media  */

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
  /* header media start */
  .products-example {
    margin-top: 10rem;
  }
  a.header__nav__item, .header__icons {
    font-size: 1rem;
  }
  .logo img {
    width: 6rem;
    margin-top: -0.8rem;
  }
  /* header media ends */

/* main section starts*/

/* section short about me starts */
.short-about-me .image img {
  width: 20rem;
}
.short-about-me h2 {
  font-size: 1.5rem;
}
.short-about-me span {
  font-size: 1.3rem;
}
.content h2 {
  margin-left: 10rem;
}
.content span:nth-of-type(1) {
  margin-left: 4rem;
}
.content span:nth-of-type(3) {
  color: rgb(41, 29, 29);
  align-self: flex-end;
}
.content a {
  width: 15rem;
}
/* section short about me ends */

/* my products example section starts */
.grid-container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(12, 100px);
  justify-content: stretch;
  align-items: stretch;
}
.grid-container img {
   width: 100%;
}
.img-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
 /*  grid-area: i1; */
}
.img-2 {
  grid-column: 4 / 8;
  grid-row: 1 / 5;
  /* grid-area: i2; */
}
.img-3 {
  grid-column: 8 / 11;
  grid-row: 1 / 4;
  /* grid-area: i3; */
}
.img-4 {
  grid-column: 11 / 15;
  grid-row: 1 / 4;
  /* grid-area: i4; */
}
.img-5 {
  grid-column: 4 / 8;
  grid-row: 5 / 9;
  /* grid-area: i5; */
}
.img-6 {
  grid-column: 1 / 4;
  grid-row: 4 / 7;
  /* grid-area: i6; */
}
.img-7 {
  grid-column: 1 / 4;
  grid-row: 7 / 10;
  /* grid-area: i7; */
}
.img-8 {
  grid-column: 4 / 9;
  grid-row: 9 / 13;
  /* grid-area: i8; */
}
.img-9 {
  grid-column: 8 / 15;
  grid-row: 4 / 9;
  /* grid-area: i9; */
}
.img-10 {
  grid-column: 9 / 15;
  grid-row: 9 / 13;
  /* grid-area: i10; */
}
/* my products example section ends */

}

@media (min-width: 768px) and (max-width: 991px) {
  /* header media start */
  .header_wrap {
    width: 100%;
  }
  a.header__nav__item, .header__icons {
    font-size: 0.8rem;
  }
  .logo img {
    width: 5rem;
    margin-top: -0.6rem;
  }
  /* header media ends */

  /* main section starts*/

/* section short about me starts */
.short-about-me .image img {
  width: 19rem;
}
.short-about-me h2 {
  font-size: 1.2rem;
}
.short-about-me span {
  font-size: 1.1rem;
}
.content h2 {
  margin-left: 8rem;
}
.content span:nth-of-type(1) {
  margin-left: 2rem;
}
.content span:nth-of-type(3) {
  color: rgb(41, 29, 29);
  align-self: flex-end;
}
.content a {
  width: 15rem;
  align-self: center;
}
/* section short about me ends */

/* my products example section starts */
.products-example {
  margin-top: 7rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(12, 50px);
}
/* my products example section ends */
}

@media (min-width: 480px) and (max-width: 767px) {
/* header media start */
  .header_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    align-items: stretch;
    gap: 1.2rem;
  }
  .header__nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  a.header__nav__item {
    font-size: 0.8rem;
    padding-top: 1rem;
  }
  .logo {
    align-self: center;
  }
  /* header media ends */

  /* main section starts*/

/* section short about me starts */
.short-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.short-about-me .image img {
  width: 20rem;
}
.short-about-me h2 {
  margin-left: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.content h2, .content span {
  color: white;
  font-size: 1.1rem;
  text-align: center;
}
.content span:nth-of-type(1) {
  margin-left: 0;
}
.content span:nth-of-type(3) {
  color: white;
  align-self: center;
}
.content a {
  text-align: center;
  width: 20rem;
  align-self: center;
}
/* section short about me ends */

/* my products example section starts */
.products-example {
  margin-top: 28rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(12, 45px);
}
/* my products example section ends */
}


@media (min-width: 320px) and (max-width: 479px) {
  /* header media start */
  .header__nav {
    display: none;
  }
  .header_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    align-items: stretch;
    gap: 2rem;
  }
  .logo {
    align-self: center;
  }
  /* header media ends */

  /* main section starts*/

/* section short about me starts */
.short-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 .short-about-me .image img {
  width: 18rem;
}
.short-about-me h2 {
  margin-left: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.content h2, .content span {
  color: white;
  font-size: 1rem;
  text-align: center;
}
.content span:nth-of-type(1) {
  margin-left: 0;
}
.content span:nth-of-type(3) {
  color: white;
  align-self: center;
}
.content a {
  text-align: center;
  width: 100%;
}
/* section short about me ends */

/* my products example section starts */
.products-example {
  margin-top: 25rem;
}
.products-example h1 {
  font-size: 2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(12, 30px);
}
/* my products example section ends */
}

@media (max-width: 320px) {
  /* header media start */
  .header__nav {
    display: none;
  }
  .header_wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    align-items: stretch;
    gap: 2rem;
  }
  .logo {
    align-self: center;
  }
  /* header media ends */

  /* main section starts*/

/* section short about me starts */
.short-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 .short-about-me .image img {
  width: 16rem;
}
.short-about-me h2 {
  margin-left: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.content h2, .content span {
  color: white;
  font-size: 1rem;
  text-align: center;
}
.content span:nth-of-type(1) {
  margin-left: 0;
}
.content span:nth-of-type(3) {
  color: white;
  align-self: center;
}
.content a {
  text-align: center;
  width: 100%;
}
/* section short about me ends */

/* my products example section starts */
.products-example {
  margin-top: 25rem;
}
/* my products example section ends */
}
